@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-white: rgb(243 244 246);
  --bg-black: rgb(30 41 59);
  --text-black: rgb(17 24 39);
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    color: var(--text-white);
    background: var(--bg-black);
  }

  a {
    color: var(--text-white);
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--text-black);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
